/*
==============
Reset
==============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
==============
Container
==============
*/

body {
  background-color: #b91450;
}

main {
  align-items: center;
  height: 100vh;
  justify-content: center;
}

section {
  width: 60%;
}

.container {
  background-color: #ffffff;
}

/*
==============
Common
==============
*/

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

h2 {
  color: white;
  margin-bottom: .9375rem;
  text-align: center;
  text-transform: uppercase;
}

/*
==============
Form
==============
*/

.user-inputs {
  justify-content: center;
}

.user-inputs > * {
  text-align: center;
  width: 30%;
}

.buttons {
  text-align: center;
}