* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #b91450;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  border: 2px solid black;
  height: 100px;
  width: 60%;
}