/*
==============
Reset
==============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
==============
Container
==============
*/

body {
  background-color: #b91450;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

section {
  width: 60%;
}

.container {
  background-color: #ffffff;
  height: 100px;
}

/*
==============
Common
==============
*/

h2 {
  color: white;
  margin-bottom: .9375rem;
  text-align: center;
  text-transform: uppercase;
}